.cm-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.cm-header .label {
  font-weight: 600;
  margin-right: 4px;
}

.cm-reason, .cm-comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
