<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="biacore" type="BIACore.Configuration.Settings,BIACore" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BIAService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <biacore>
    <core debug="true" appCode="biasecurity" server="http://biadev.inside.ups.com" />
    <log enabled="true" sql="false" debug="false" message="true" error="true" />
    <agent serviceName="IISMonitor" displayName="IISMonitor" environment="DEV" />
  </biacore>

  <connectionStrings>
    <add name="OldSecurity" connectionString="Data Source=CSVP00095BB1\WWBIAC05E031;Initial Catalog=Dasa_GuestBook;Persist Security Info=True;User ID=bia_security_app;Password=Yawn-ice$2977;" providerName="System.Data.SqlClient"/>
    <add name="Security" connectionString="Data Source=CSVP00095BB1\WWBIAC05E031;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app;Password=Yawn-ice$2977;" providerName="System.Data.SqlClient"/>
    <add name="MyReports" connectionString="Data Source=gaalpsvr0247;Initial Catalog=MyReports;user id=app_security;password=Yawn-ice$2977;"/>
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>