<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flote.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.6.230.55040" newVersion="3.6.230.55040"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.5.40" newVersion="1.3.5.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>     
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <clear/>
    <add name="OraAspNetConString" connectionString=" "/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="OracleProfileProvider">
      <providers>
        <clear/>
        <add name="OracleProfileProvider" type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName=""/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="OracleRoleProvider">
      <providers>
        <clear/>
        <add name="OracleRoleProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName=""/>
      </providers>
    </roleManager>
    <siteMap enabled="true" defaultProvider="OracleSiteMapProvider">
      <providers>
        <clear/>
        <add name="OracleSiteMapProvider" type="Oracle.Web.SiteMap.OracleSiteMapProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <webParts>
      <personalization defaultProvider="OraclePersonalizationProvider">
        <providers>
          <clear/>
          <add name="OraclePersonalizationProvider" type="Oracle.Web.Personalization.OraclePersonalizationProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName=""/>
        </providers>
      </personalization>
    </webParts>
    <healthMonitoring enabled="true">
      <providers>
        <add name="OracleWebEventProvider" type="Oracle.Web.Management.OracleWebEventProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" buffer="true" bufferMode="OracleNotification"/>
      </providers>
    </healthMonitoring>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <applicationSettings>
    <Flote.WebAPI.Properties.Settings>
      <setting name="FTPFilePathDev" serializeAs="String">
        <value>ftp://BIAFTPV.UPS.COM</value>
      </setting>
      <setting name="FTPFilePathProd" serializeAs="String">
        <value>ftp://ftp2.ups.com</value>
      </setting>
      <setting name="FTPUserIdDev" serializeAs="String">
        <value>BIA_FTP_FLOTE</value>
      </setting>
      <setting name="FTPUserPSWDev" serializeAs="String">
        <value>DEC_BIA_FTP_FLOTE_2021</value>
      </setting>
      <setting name="FTPUserIdEMEA" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWEMEA" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdZA" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWZA" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdAPAC" serializeAs="String">
        <value>2eracp0910</value>
      </setting>
      <setting name="FTPUserPSWAPAC" serializeAs="String">
        <value>B1ZGYc@vsK6W&amp;5TuvuJ8&amp;#nA4-A?=xx9</value>
      </setting>
      <setting name="FTPUserIdAmerica" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWAmerica" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdNAmerica" serializeAs="String">
        <value>eracapp0910</value>
      </setting>
      <setting name="FTPUserPSWNAmerica" serializeAs="String">
        <value>pLace_48376280Fxyl0pH0ne-778974#</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>smtpapps-win.us.ups.com</value>
      </setting>
      <setting name="FTPUserIdBatchDev" serializeAs="String">
        <value>BIA_FTP_FLOTE_BATCH</value>
      </setting>
      <setting name="FTPUserPSWBatchDev" serializeAs="String">
        <value>DEC_BIA_FTP_FLOTE_BATCH_2019</value>
      </setting>
      <setting name="FTPFilePathFloteBatchDev" serializeAs="String">
        <value>ftp://BIAFTPV.UPS.COM</value>
      </setting>
    </Flote.WebAPI.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
