<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="biacore" type="BIACore.Configuration.Settings,BIACore" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BIACore.Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="99999999" />
  </system.web>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="9999999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <biacore>
    <core debug="true" appCode="biasecurity" />
    <log enabled="true" console="true" sql="true" message="true" error="true" />
    <security enabled="true">
      <include value="Spreadsheet.aspx" />
    </security>
    <sql timeout="180" />
  </biacore>
</configuration>