<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <biacore>
    <core debug="true" appCode="biasecurity" baseurl="/common/biacore/rc/" xdt:Transform="Replace"/>
    <log enabled="true" performance="true" xdt:Transform="Replace"/>
    <security enabled="true" loginUri="/common/biacore/rc/Login.aspx" logoutUri="/common/biacore/rc/Logout.aspx" xdt:Transform="Replace">
      <include value="Default.aspx,Test.aspx" />
    </security>
  </biacore>
</configuration>