<?xml version="1.0" encoding="utf-8"?>
<!--For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433-->
<configuration>
  <configSections>
    <section name="biacore" type="BIACore.Configuration.Settings,BIACore" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flote.WebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="Flote" connectionString="Data Source=CSVP000585C4\WWBIAC03E015;Initial Catalog=Flote;user id=flote_web_sql_id_alpha;password=map-wHa1e%7879;"/>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP) (HOST = eims-a780-vip1.linux.us.ams1907.com) (PORT = 1582)))(CONNECT_DATA = (SID = A780) (GLOBAL_NAME = A780.oracledb.ups.com)));User Id=BIA;Password=natureworld15;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="isDev" value="false" />
    <add key="PortNumber" value="22" />
    <add key="SFTPUserName" value="BIA_FTP_FLOTE" />
    <add key="SFTPPassword" value="DEC_BIA_FTP_FLOTE_2021" />
    <add key="SFTPServerHostName" value="BIAFTPV.UPS.COM" />
    <add key="SFTPFileFolder" value="inbound" />
    <add key="FTP2ServerHostName" value="ftp2.ups.com" />
    <add key="NetworkDriveName" value="Svrp000af8a7" />
    <add key="EmailListProd" value="sdandale@ups.com;sjujala@ups.com;" />
    <add key="EmailListDev" value="sdandale@ups.com;sjujala@ups.com;" />
    <add key="FloteUploadProcess" value="HPQ8SKT|YNV4CMB|AAU1DXX|NWW1SXJ" />
    <add key="UploadBatchFolderDev" value="\\SVRP000BD786\Flote\ALPHA\Batch" />
    <add key="UploadBatchFolderProd" value="\\SVRP000BD786\Flote\PROD\Batch" />
  </appSettings>
  <!-- IIS 6 Server -->
  <system.web>
    <httpRuntime targetFramework="4.8" executionTimeout="360" enableVersionHeader="false" requestPathInvalidCharacters="" />
    <compilation debug="true" targetFramework="4.8" />
    <sessionState regenerateExpiredSessionId="false" cookieless="UseCookies" cookieName="id" cookieSameSite="Strict" />
    <authentication mode="None" />
    <customErrors mode="On" defaultRedirect="/GeneralErrors.aspx" />
    <caching>
      <outputCache sendCacheControlHeader="false" />
    </caching>
    <httpModules>
      <add name="BIACoreModule" type="BIACore.BIACoreModule,BIACore" />
    </httpModules>
    <httpHandlers>
      <!-- gets rid of HttpException: Path 'OPTIONS' is forbidden. -->
      <add verb="*" path="*.xls" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.xlsx" type="System.Web.StaticFileHandler" />
      <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,UNLOCK" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
      <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <!-- Additional handlers will be defined here. -->
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>
   <!-- <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict"/>-->
  </system.web>
  <!-- IIS 7 Server -->
  <system.webServer>
    <handlers>
      <remove name="TraceHandler-Integrated"/>
      <remove name="TraceHandler-Integrated-4.0"/>
    </handlers>    
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Security-Policy" />
        <remove name="Pragma" />
        <remove name="pragma" />
        <remove name="Cache-Control" />
        <remove name="cache-control" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules>
      <add name="BIACoreModule" preCondition="integratedMode" type="BIACore.BIACoreModule,BIACore" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <biacore>
    <core debug="true" appCode="Flote_v2" />
    <log enabled="true" console="true" sql="true" message="true" error="true" />
    <sql timeout="120" />
    <security enabled="true" azure="false">
      <exclude value="export.aspx,unsecured,bundle,aspmonitor.aspx,aspnetmonitor.aspx,CoreAssets" />
    </security>
  </biacore>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.230.55040" newVersion="3.6.230.55040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.5.40" newVersion="1.3.5.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2024.2.0.1" newVersion="2024.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Flote.WebSite.Properties.Settings>
      <setting name="FTPFilePathFloteBatchDev" serializeAs="String">
        <value>ftp://BIAFTPV.UPS.COM</value>
      </setting>
      <setting name="FTPFilePathDev" serializeAs="String">
        <value>ftp://BIAFTPV.UPS.COM</value>
      </setting>
      <setting name="FTPFilePathProd" serializeAs="String">
        <value>ftp://ftp2.ups.com</value>
      </setting>
      <setting name="FTPUserIdDev" serializeAs="String">
        <value>BIA_FTP_FLOTE</value>
      </setting>
      <setting name="FTPUserPSWDev" serializeAs="String">
        <value>DEC_BIA_FTP_FLOTE_2021</value>
      </setting>
      <setting name="FTPUserIdBatchDev" serializeAs="String">
        <value>BIA_FTP_FLOTE_BATCH</value>
      </setting>
      <setting name="FTPUserPSWBatchDev" serializeAs="String">
        <value>DEC_BIA_FTP_FLOTE_BATCH_2019</value>
      </setting>
      <setting name="FTPUserIdEMEA" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWEMEA" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdZA" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWZA" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdAPAC" serializeAs="String">
        <value>2eracp0910</value>
      </setting>
      <setting name="FTPUserPSWAPAC" serializeAs="String">
        <value>aircrAft@8480C7su6tRact#2014DF4#</value>
      </setting>
      <setting name="FTPUserIdAmerica" serializeAs="String">
        <value>eracapo0910</value>
      </setting>
      <setting name="FTPUserPSWAmerica" serializeAs="String">
        <value>liteRature*1741impUl5e_85382024#</value>
      </setting>
      <setting name="FTPUserIdNAmerica" serializeAs="String">
        <value>eracapp0910</value>
      </setting>
      <setting name="FTPUserPSWNAmerica" serializeAs="String">
        <value>pLace_48376280Fxyl0pH0ne-778974#</value>
      </setting>
    </Flote.WebSite.Properties.Settings>
  </applicationSettings>
</configuration>