<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Flote" connectionString="Data Source=CSVP000585C4\WWBIAC03E015;Initial Catalog=Flote;user id=FLOTE_User;password=marTini$1220;" />
    <!--<add name="P780" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=eims-p780-vip1.linux.us.ups.com)(PORT=1580)))(CONNECT_DATA=(SERVER=153.2.211.59)(SERVICE_NAME=P780)));User Id=bia;Password=flote_user_2016;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP) (HOST = eims-p780-vip1.linux.us.ups.com) (PORT = 1580)))(CONNECT_DATA = (SID = P780) (GLOBAL_NAME = P780.oracledb.ups.com)));User Id=bia;Password=2016_flote_user;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP) (HOST = eims-a780-vip1.linux.ams1907.com) (PORT = 1582)))(CONNECT_DATA = (SID = A780) (GLOBAL_NAME = A780.oracledb.ups.com)));User Id=BIA;Password=natureworld15;" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <biacore xdt:Transform="Replace">
    <core debug="false" appCode="Flote_V2" server="https://biaqa2.inside.ups.com" />
    <log enabled="true" console="false" sql="true" message="false" error="true" />
    <sql timeout="60" />
    <security enabled="true">
      <exclude value="export.aspx,unsecured,bundle" />
    </security>
  </biacore>

</configuration>