<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <biacore>
    <core debug="false" appCode="biasecurity" xdt:Transform="Replace" />
    <log enabled="true" sql="false" debug="false" message="true" error="true" xdt:Transform="Replace" />
    <agent serviceName="BIAService" displayName="Service" environment="PROD" xdt:Transform="Replace" />
  </biacore>

  <connectionStrings xdt:Transform="Replace">
    <add name="Security" connectionString="Data Source=CSVP00095BB1\WWBIAC05E031;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app;Password=Fick1edly$302;" providerName="System.Data.SqlClient"/>
    <add name="MyReports" connectionString="Data Source=CSVP00095BB5\WWBIAC05E035;Initial Catalog=MyReports;User ID=BIA_MYREPORTS_WEB_PROD;Password=tan9i6le$3768;"/>
    <add name="NewSecurity" connectionString="Data Source=CSVP00095BB1\WWBIAC05E031;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app;Password=Fick1edly$302;"/>
  </connectionStrings>
</configuration>
