<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="biacore" type="BIACore.Configuration.Settings,BIACore" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BIAService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <biacore>
    <core debug="true" appCode="biasecurity" />
    <log enabled="true" sql="true" debug="true" message="true" error="true" />
    <agent serviceName="BIAService" displayName="Service" environment="DEV" />
    <sql timeout="180" />
  </biacore>

  <!--<connectionStrings>
    <add name="Security" connectionString="Data Source=CSVP000585C7\WWBIAC03E018;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app_dev;Password=hOwever~5203;" providerName="System.Data.SqlClient" />
    <add name="MyReports" connectionString="Data Source=gaalpsvr0247;Initial Catalog=MyReports;user id=bia_security_app_dev;password=hOwever~5203;" />
    <add name="NewSecurity" connectionString="Data Source=CSVP000585C7\WWBIAC03E018;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app_dev;Password=hOwever~5203;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.9" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtpapps-win.us.ups.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <applicationSettings>
    <BIAService.Properties.Settings>
      <setting name="MyReportsUser" serializeAs="String">
        <value>BIA_FTP_TEP</value>
      </setting>
      <setting name="MyReportsPass" serializeAs="String">
        <value>imhotep12</value>
      </setting>
      <setting name="MyReportsPath" serializeAs="String">
        <value>ftp://ftp3bia.ups.com/</value>
      </setting>
      <setting name="NotificationSMTPServer" serializeAs="String">
        <value>smtpapps-win.us.ups.com</value>
      </setting>
      <setting name="NotificationPollMinutes" serializeAs="String">
        <value>1</value>
      </setting>
    </BIAService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
