<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <biacore>
    <core debug="true" appCode="biasecurity" xdt:Transform="Replace" />
    <agent serviceName="BIAService" displayName="Service" environment="DEV" xdt:Transform="Replace" />
  </biacore>

  <connectionStrings xdt:Transform="Replace">
    <!--<add name="Security" connectionString="Data Source=SVRP000F4A9B\WWBIAU11;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app_dev;Password=volleybA11@4388;" providerName="System.Data.SqlClient"/>
    <add name="MyReports" connectionString="Data Source=CSVP000A1016\SQL1016;Initial Catalog=MyReports;User ID=bia_security_app_dev;Password=volleybA11@4388;"/>
    <add name="NewSecurity" connectionString="Data Source=SVRP000F4A9B\WWBIAU11;Initial Catalog=BIASecurity;Persist Security Info=True;User ID=bia_security_app_dev;Password=volleybA11@4388;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
