<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BIACore.Website.Properties.Settings>
      <setting name="ExternalSecurity" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
    </BIACore.Website.Properties.Settings>
  </applicationSettings>

  <biacore>
    <core debug="true" appCode="BIACore" xdt:Transform="Replace"/>
  </biacore>
</configuration>