<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="biacore" type="BIACore.Configuration.Settings,BIACore" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BIACore.Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <!--<httpCookies requireSSL="true" httpOnlyCookies="true"/>-->
    <customErrors mode="On" defaultRedirect="/common/biacore/2.0/GeneralErrors.aspx" />
    <compilation debug="true" targetFramework="4.8" />
    <sessionState regenerateExpiredSessionId="false" cookieless="UseCookies" cookieName="id" cookieSameSite="Strict" />
    <authentication mode="None" />
    <httpModules>
      <add name="BIACoreModule" type="BIACore.BIACoreModule,BIACore" />
    </httpModules>
    <httpRuntime maxRequestLength="102400" enableVersionHeader="false" requestPathInvalidCharacters="" />
    <!-- 100MB -->
    <machineKey decryption="AES" decryptionKey="7F0938BD7BDB619C00DF64370E0A8A69D931726B533DD18770E542CF00AB185A" validation="HMACSHA256" validationKey="0885AEDC24973F449B0805654F803CF6765B83EB51FF3F1EF531EEF700E784FB3727E5622C09697225C83A810CC47D8234984C9DD93B2CC08A01BC647553CB3C" />
    <pages controlRenderingCompatibilityVersion="4.0" viewStateEncryptionMode="Always" />
    <caching>
      <outputCache sendCacheControlHeader="false" />
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Security-Policy" />
        <remove name="Pragma" />
        <remove name="pragma" />
        <remove name="Cache-Control" />
        <remove name="cache-control" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="104857600" />
        <!-- 100MB -->
      </requestFiltering>
    </security>
    <modules>
      <add name="BIACoreModule" preCondition="integratedMode" type="BIACore.BIACoreModule,BIACore" />
    </modules>
    <handlers>
      <remove name="WebDav" />
      <remove name="TraceHandler-Integrated" />
      <remove name="TraceHandler-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <biacore>
    <core debug="false" appCode="BIACore" />
    <!-- localPort="59371" -->
    <log enabled="true" error="true" />
    <agent ftpPath="BIAFTPV.UPS.COM" ftpUser="BIA_FTP_TEP" ftpPass="DEC_BIA_FTP_TEP_2019" />
    <security enabled="true">
      <include value="Default.aspx,Test.aspx,apxmonitor.aspx" />
    </security>
  </biacore>
  <applicationSettings>
    <!-- these entries affect WebServices <-> Database interactions -->
    <BIACore.Website.Properties.Settings>
      <setting name="LogActivity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MyReportsUser" serializeAs="String">
        <value>BIA_FTP_TEP</value>
      </setting>
      <setting name="ExternalSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExternalSecurityLogin" serializeAs="String">
        <value>/bia/apps/BIASecurity/unsecure/index.cfm</value>
      </setting>
      <setting name="ExternalSecurityLogout" serializeAs="String">
        <value>/bia/CustomTag/BIA_Logout.cfm</value>
      </setting>
      <setting name="RouterKey" serializeAs="String">
        <value>U2FsZXM4NTVzZWNyZXQu</value>
      </setting>
      <setting name="NewDefaultSecurityConnection" serializeAs="String">
        <value>{"ConnectionName":"Security","ServerName":"SVRP000F4A9B","InstanceName":"WWBIAU11","ServerType":"SQL","ServerVersion":"2019","DatabaseName":"Dasa_Guestbook","Provider":"System.Data.SqlClient","IncludeProvider":0,"Username":"bia_security_app_dev","AuthKey":"EncryptedString"}</value>
      </setting>
      <setting name="MyReportsPass" serializeAs="String">
        <value>DEC_BIA_FTP_TEP_2019</value>
      </setting>
      <setting name="MyReportsPath" serializeAs="String">
        <value>ftp://BIAFTPV.UPS.COM/</value>
      </setting>
      <setting name="DefaultSecurityConnection" serializeAs="String">
        <value>
          {
          "ConnectionName":"NewSecurity","ServerName":"SVRP000F4A9B","InstanceName":"WWBIAU11","ServerType":"SQL","ServerVersion":"2019",
          "DatabaseName":"BIASecurity","Provider":"System.Data.SqlClient","Username":"bia_security_app_dev",
          "AuthKey":"dmQjhpXOHBgRSiW"
          }
        </value>
      </setting>
    </BIACore.Website.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <!-- 
  The default binding added by "add service reference" is http-only due to the 
  wsdl endpoint declaring only http.
  
  The server supports HTTPS, so we can "force" https by changing the basicHttpBinding 
  declaration, and the endpoint address.
  
  Example in case it gets lost:
  <binding name="UserAuthenticationBinding">
    <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
    </security>
  </binding>
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserAuthenticationBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UserProfileBinding" />
        <binding name="UserProfile2Binding" />
        <binding name="UserListBinding" />
        <binding name="UserMailboxBinding" />
        <binding name="UserProfileBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="UserMailboxBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="UserMailboxBinding2" />
        <binding name="UserListBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="UserListBinding2" />
        <binding name="UserProfileBinding2" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:02:00"
          sendTimeout="00:00:20" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserAuthentication"
        binding="basicHttpBinding" bindingConfiguration="UserAuthenticationBinding"
        contract="ITAuth.UserAuthenticationPort" name="UserAuthenticationPort" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserProfile"
        binding="basicHttpBinding" bindingConfiguration="UserProfileBinding"
        contract="ITUser.UserProfilePort" name="UserProfilePort" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserProfile2"
        binding="basicHttpBinding" bindingConfiguration="UserProfile2Binding"
        contract="ITUserExt.UserProfile2Port" name="UserProfile2Port" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserList"
        binding="basicHttpBinding" bindingConfiguration="UserListBinding"
        contract="ITUserById.UserListPort" name="UserListPort" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserMailbox"
        binding="basicHttpBinding" bindingConfiguration="UserMailboxBinding"
        contract="ITUserByEmail.UserMailboxPort" name="UserMailboxPort" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserMailbox"
        binding="basicHttpBinding" bindingConfiguration="UserMailboxBinding1"
        contract="ITUserByEmail.UserMailboxPort" name="UserMailboxPort1" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserList"
        binding="basicHttpBinding" bindingConfiguration="UserListBinding1"
        contract="ITUserById.UserListPort" name="UserListPort1" />
      <endpoint address="https://ws4id.inside.ups.com/ws4id/XML-SOAP/UserProfile"
        binding="basicHttpBinding" bindingConfiguration="UserProfileBinding1"
        contract="ITUser.UserProfilePort" name="UserProfilePort1" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>