<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BIACore.Website.Properties.Settings>
      <setting name="ExternalSecurity" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="DefaultSecurityConnection" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>
          {
          "ConnectionName":"NewSecurity","ServerName":"CSVP00095BB1","InstanceName":"WWBIAC05E031","ServerType":"SQL","ServerVersion":"2016",
          "DatabaseName":"BIASecurity","Provider":"System.Data.SqlClient","Username":"bia_security_app",
          "AuthKey":"Xj6e21Ri3KSbDuq"
          }</value>
        
        <!-- Old Key: "000001MWvAAQACAAA=YwaslK+zxtpL/Ag3k4pHbGTuG6c="-->
      </setting>
    </BIACore.Website.Properties.Settings>
  </applicationSettings>
 
  <biacore>
    <core debug="false" appCode="BIACore" xdt:Transform="Replace"/>
  </biacore>
</configuration>