<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BIACore.Website.Properties.Settings>
      <setting name="ExternalSecurity" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="DefaultSecurityConnection" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>
          {
          "ConnectionName":"NewSecurity","ServerName":"SVRT0000E1E8.tus.ams1907.com","InstanceName":"WWBIAD07","ServerType":"SQL","ServerVersion":"2017",
          "DatabaseName":"BIASecurity","Provider":"System.Data.SqlClient","Username":"bia_security_app_dev",
          "AuthKey":"GkuEm9kwHK+JZemo2l8UJddWnIk+IakmtKPE7m1eZLXAI7PwdZGEVhzE0Q6siB6abVJbMTynwtbQSMluz3r0G7Qtl5yaNxhCk+dkhXEueAI4wbVuu+fUBP7VuD7ZZ2NL"
          }
        </value>
      </setting>
    </BIACore.Website.Properties.Settings>
  </applicationSettings>

  <biacore>
    <core debug="true" appCode="BIACore" xdt:Transform="Replace"/>
  </biacore>

  <system.serviceModel>
    <client xdt:Transform="Replace" >
      <endpoint address="https://ws4id.ams1907.com/ws4id/XML-SOAP/UserAuthentication" binding="basicHttpBinding" bindingConfiguration="UserAuthenticationBinding" contract="ITAuth.UserAuthenticationPort" name="UserAuthenticationPort"/>
      <endpoint address="http://ws4id.ams1907.com/ws4id/XML-SOAP/UserProfile" binding="basicHttpBinding" bindingConfiguration="UserProfileBinding" contract="ITUser.UserProfilePort" name="UserProfilePort"/>
      <endpoint address="http://ws4id.ams1907.com/ws4id/XML-SOAP/UserProfile2" binding="basicHttpBinding" bindingConfiguration="UserProfile2Binding" contract="ITUserExt.UserProfile2Port" name="UserProfile2Port"/>
      <endpoint address="http://ws4id.ams1907.com/ws4id/XML-SOAP/UserList" binding="basicHttpBinding" bindingConfiguration="UserListBinding" contract="ITUserById.UserListPort" name="UserListPort"/>
      <endpoint address="http://ws4id.ams1907.com/ws4id/XML-SOAP/UserMailbox" binding="basicHttpBinding" bindingConfiguration="UserMailboxBinding" contract="ITUserByEmail.UserMailboxPort" name="UserMailboxPort"/>
    </client>
  </system.serviceModel>
</configuration>