h2 {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #888;
    line-height: 0.1em;
    margin: 10px 0 10px;
}

h2 span {
    background: #fff;
    padding: 0 8px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: #666;
}

.BorderFloatingTitleTop {
    border-top: 2px solid #888;
}

.BorderFloatingTitleRight {
    border-right: 2px solid #888;
}

.BorderFloatingTitleBottom {
    border-bottom: 2px solid #888;
}

.BorderFloatingTitleLeft {
    border-left: 2px solid #888;
}

.BorderFloatingTitle {
    background-color: white;
    padding: 0 5px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #666;
}

.BorderFloatingTitle.BorderFloatingTitleMarginTop {
    margin-top: 0px;
    margin-left: 15px;
}

.BorderFloatingTitle.BorderFloatingTitleMarginRight {
    margin-right: -8px;
    margin-top: 15px;
}

.BorderFloatingTitle.BorderFloatingTitleMarginBottom {
    margin-bottom: -8px;
    margin-left: 15px;
}

.BorderFloatingTitle.BorderFloatingTitleMarginLeft {
    margin-left: -8px;
    margin-top: 15px;
}

.BorderFloatingTitle.BorderFloatingTitleRotateRight {
    transform: rotate(90deg)
}

.BorderFloatingTitle.BorderFloatingTitleRotateLeft {
    transform: rotate(270deg)
}